---
import BaseLayout from "./BaseLayout.astro";
import Main from "../components/Main.astro";
const {frontmatter, url} = Astro.props;

const DateTimeFormat = new Intl.DateTimeFormat('en-US', {
  formatMatcher: "best fit",
  timeZone: 'Europe/Andorra',
})
---
<style is:global>
    img {
        @apply mx-auto;
        @apply block;
        @apply rounded-2xl;
        @apply overflow-hidden;
    }
</style>
<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description} url={url}>
  <Main>
    <h1 class="font-serif text-3xl tracking-tight font-bold text-vanilla-950 dark:text-oxford-blue-50 leading-loose mb-4">{frontmatter.title}</h1>
    <div class="text-center my-12">
      <small class="block text-vanilla-950 dark:text-oxford-blue-50">Written by {frontmatter.author}</small>
      <small class="block text-vanilla-600 dark:text-oxford-blue-200">Published on: {DateTimeFormat.format(new Date(frontmatter.pubDate))}</small>
    </div>
    <article class="prose prose-vanilla dark:prose-invert text-left mx-auto">
      <slot/>
    </article>
  </Main>
</BaseLayout>